﻿@model AMI.AccessLog.Project.Models.Location
@{
    ViewData["Title"] = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">

@using (Html.BeginForm("SaveLocation", "Setup", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">Location</h2>
            <a href='@Url.Action("ExportLocationList","Setup", null)'>
                <img src="~/images/excel-file.png" style="float:right;color:#1e3f6d;" />
            </a>
        </div>
        @Html.HiddenFor(model => model.Id)
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Location Name:</span><span style="color:red;">*</span>
                    <input class="input100" type="text" name="Name" asp-for="Name" placeholder="Enter Name" id="name">
                    <span class="focus-input100"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Description:</span>
                    <input class="input100" type="text" name="Description" asp-for="Description" placeholder="Enter Description" id="desc">
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-2">
                    <a href='@Url.Action("Location","Setup", null)' class="btn btn-default">
                        <i class="fa fa-plus"></i>
                        New
                    </a>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" id="btnSave" type="submit" onclick="return confirm('Are you sure you want to save?')">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                </div>
                <div class="col-md-2">
                    <a href='@Url.Action("DeleteLocation","Setup", new { @locationId = Model.Id})' id="btnDelete" class="btn btn-default" onclick="return ConfirmDelete()">
                        <i class="fa fa-trash"></i>
                        Delete
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <font color="red">@TempData["Message"]</font>
            </div>
        </div>
        <div class="col-md-12">
            <br />
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table style="width: 100%;" class="table table-striped table-bordered table-hover" id="policy">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var location in (List<Location>)ViewBag.LocationList)
                            {
                                <tr class="odd gradeX">
                                    <td>@location.Name</td>
                                    <td>@location.Description</td>
                                    <td style="text-align:center;">
                                        <a href='@Url.Action("EditLocation", "Setup", new { @locationId = @location.Id })'>
                                            <img src="~/images/Edit.png" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts
    {
    <script type="text/javascript">
        function ConfirmDelete() {
            if (document.getElementById("name").value == "" && document.getElementById("desc").value == "") {
                alert("Please select data to delete");
                return false;
            }
            else {
                return confirm("Are you sure you want to delete?");

            }
        }
        var table = $('#policy').DataTable();
        table.order([0, 'asc']).draw();
    </script>
}
