﻿@model ServicePerson
@{
    ViewData["Title"] = "ServicePerson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">

@using (Html.BeginForm("SaveServicePerson", "Setup", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">Service Person</h2>
            @* <a href='@Url.Action("ExportBranchList","Setup", null)'>
                    <img src="~/images/excel-file.png" style="float:right;color:#1e3f6d;" />
                </a>*@
            <ul class="nav navbar-right panel_toolbox" style="margin-right:20px;">
                <li class="dropdown" style="float:left;">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-file-excel-o" style="font-size:30px;"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href='@Url.Action("ExportPersonList", "Setup", null)'><i class="fa fa-download"></i> Export</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ImportServicePersonList", "Setup")" id="btnImport"><i class="fa fa-upload"></i> Import</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        @Html.HiddenFor(model => model.Id)

        <div class="col-md-12">
            <div class="col-md-3">
                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Person Id:</span><span style="color:red;">*</span>
                    @Html.TextBoxFor(model => model.PersonId, new { @class = "input100", @placeholder = "Enter Person Id" })
                    <span class="focus-input100"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Person Name:</span><span style="color:red;">*</span>
                    @Html.TextBoxFor(model => model.PersonName, new { @class = "input100", @placeholder = "Enter Person Name" })
                    <span class="focus-input100"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Position:</span><span style="color:red;">*</span>
                    @Html.DropDownListFor(model => model.Position, ViewBag.PositionList as IEnumerable<SelectListItem>, "Select Role", new { @class = "input100", @style = "border:none;margin-top:9px;" })
                    <span class="focus-input100"></span>
                </div>
            </div>

            <div class="col-md-3">
                <span class="label-input100">Active:</span>
                <div class="col-sm-1">@Html.CheckBoxFor(model => model.Active)</div>
            </div>

        </div>

        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-2">
                    <a href='@Url.Action("ServicePerson","Setup",null)' class="btn btn-default">
                        <i class="fa fa-plus"></i>
                        New
                    </a>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" id="btnSave" type="submit" onclick="return confirm('Are you sure you want to save?')">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                </div>
                <div class="col-md-2">
                    <a href='@Url.Action("DeleteServicePerson","Setup", new { @Id = Model.Id})' class="btn btn-default" onclick="return confirm('Are you sure you want to delete?')">
                        <i class="fa fa-trash"></i>
                        Delete
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <font color="red">@TempData["Message"]</font>
            </div>
        </div>
        <div class="col-md-12">
            <br />
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table style="width: 100%;" class="table table-striped table-bordered table-hover" id="policy">
                        <thead>
                            <tr>
                                <th>Person ID</th>
                                <th>Person Name</th>
                                <th>Position</th>
                                <th>Active</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var service in (List<ServicePersonInfo>)ViewBag.ServicePersonList)
                            {
                            <tr class="odd gradeX">
                                <td>@service.PersonId</td>
                                <td>@service.PersonName</td>
                                <td>@service.PositionName</td>
                                <td style="text-align:center;">@Html.CheckBox("chkActive", @service.Active, new { @disabled = "disabled" })</td>
                                <td style="text-align:center;">
                                    <a href='@Url.Action("EditServicePerson", "Setup", new { Id = @service.Id })'>
                                        <img src="~/images/Edit.png" />
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
