﻿﻿@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<br /><br />*@
    <title> @ViewData["Title"] - AMI.AccessLog.Project</title>
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="~/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
    <link href="~/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <style>
        .fa {
            color: #A92028;
        }

        a {
            color: black;
        }

            a:focus, a:hover {
                color: #A92028;
            }

        .glyphicon {
            color: #A92028;
        }

        .navbar {
            min-height: 70px;
        }

        body {
            font-family: 'Trebuchet MS';
            color: black;
        }

        div {
            font-family: 'Trebuchet MS';
        }

        .nav > li > a {
            color: black;
        }

        .input100 {
            font-size: 14px !important;
        }

        .page-header {
            padding-bottom: 9px;
            margin: 20px 0 20px;
            border-bottom: 2px solid #A92028;
        }

        .btn {
            border: 2px solid #808080;
        }

        .navbar-inverse {
            background-color: #331b6b;
            border-color: #331b6b;
        }

        .dropdown {
            color: #ffffff;
        }

        li {
            width: 120px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#C0C0C0;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/images/Logo.png" style="width:100px;margin-top:10px;" />
            </div>

            <!--     <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="margin-left:15px;margin-top:20px;">
                    <li>
                        <div class="dropdown">
                            <button class="dropdown-toggle" data-toggle="dropdown" style="font-size:16px;">
                                Admin
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href='@Url.Action("User","Admin", null)'>User</a></li>
                                <li><a href='@Url.Action("Role","Admin", null)'>Role</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="dropdown-toggle" data-toggle="dropdown" style="font-size:16px;">
                                Setup
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href='@Url.Action("Location","Setup", null)'>Location</a></li>
                                <li><a href='@Url.Action("Device","Setup", null)'>Device</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="dropdown-toggle" data-toggle="dropdown" style="font-size:16px;">
                                Register
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href='@Url.Action("Register","Home", null)'>Register</a></li>
                                <li><a href='@Url.Action("List","Home", null)'>List</a></li>

                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <a href='@Url.Action("SignOut","Account", null)' style="font-size:16px;color:white;">Logout</a>
                        </div>
                    </li>
                </ul>
            </div> -->
        </div>
    </nav>
    <div class="container body-content">
@RenderBody()
<hr />
<footer>
    <p>&copy; 2018 - AMI.AccessLog.Project</p>
</footer>
</div>
<!-- /#wrapper -->
<script src="~/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="~/vendor/datatables-responsive/dataTables.responsive.js"></script>
<script>
    $(document).ready(function () {
        $('#policy-datatable').DataTable({
            responsive: true
        });
    });
</script>
@RenderSection("Scripts", required: false)
</body>
</html>
