﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <br />
    <br />
    <title> AMGI - @ViewData["Title"] - AMI.AccessLog.Project</title>
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="~/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
    <link href="~/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    @*<script src="~/vendor/jquery/jquery.min.js"></script>*@
    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="~/images/NewLogo.png">
    <style>
        .fa {
            color: #A92028;
        }
        .btn {
            border: 2px solid #808080;
        }

        .input100 {
            font-size: 14px !important;
        }

        .page-header {
            padding-bottom: 9px;
            margin: 20px 0 20px;
            border-bottom: 2px solid #A92028;
        }


        .menu {
            display: block;
            z-index: 999999;
        }

            .menu li {
                display: inline-block;
                position: relative;
                padding-left: 30px;
            }

                .menu li.dropdown:hover > .submenu {
                    display: block;
                }
        body {
            font-family: 'Trebuchet MS';
            color: black;
        }

        div {
            font-family: 'Trebuchet MS';
        }
                .menu li a {
                    display: block;
                    padding: 12px 8px;
                    background: #ccc;
                }

                .menu li.dropdown > a::after {
                     content: "\e259";
                    font-family: 'Glyphicons Halflings';
                    font-style: normal;
                    font-weight: 400;
                    margin-left: 8px;
                    font-size: 10px;
                }

                .menu li a::before {
                    font-family: 'Glyphicons Halflings';
                    font-style: normal;
                    font-weight: 400;
                    margin-right: 8px;
                }

                .menu li a:hover {
                    background: #DF8870;
                }

            .menu .submenu {
                display: none;
            }

        .submenu {
            margin: 0px;
            padding: 0px;
            position: absolute;
            left: 0px;
            list-style-type: none;
            display: block;
            width: 200px;
            z-index: 9;
        }

            .submenu li {
                display: block;
            }

                .submenu li a {
                    display: block;
                    background: #ccc;
                    color: black;
                    padding: 8px 6px;
                    margin-bottom: 1px;
                }

        .menu .submenu > li.dropdown:hover > .submenu {
            display: block;
        }

        .menu .submenu .submenu {
            position: absolute;
            left: 200px;
            top: 0px;
        }

        .submenu li.dropdown > a:after {
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            margin-left: 8px;
            font-size: 10px;
        }
        /*.menu .dropdown{
            padding-left:30px;
        }*/

        #sub {
            padding-left: 0px;
        }

        /*.dropdown .submenu li a::after {
            content: "\e080";
        }*/
        .dropdown .submenu .icon::after {
            content: "\e080";
        }
    </style>
</head>
﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#ccc;height:70px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/images/AYASOMPO_LOGO FA.png" onclick="location.href='@Url.Action("Dashboard", "Home")'" style="width:200px;margin-top:10px;margin-right:20px;" />
            </div>

            <div class="navbar-collapse collapse">
                <ul class="menu" style="margin-left:40px;margin-top:10px;">
                    @if (HttpContextAccessor.HttpContext.Session.GetString("roleId") == "d497e3fe-f38a-4f08-9bfa-a03586d73f78") //SystemAdministrator
                    {
                        @*<li class="dropdown">
                <a href='@Url.Action("QRCode", "Account", null)'>QR Code Generator</a>
            </li>*@
                        <li>
                            <div class="dropdown">
                                <a href='@Url.Action("Dashboard", "Home", null)'>Dashboard</a>
                            </div>
                        </li>

                        <li class="dropdown">
                            <a href="">Admin</a>
                            <ul class="submenu">
                                <li><a href='@Url.Action("UserList", "Admin", null)'>User</a></li>
                                <li><a href='@Url.Action("ResignUser", "Admin", null)'>Resign User</a></li>
                                <li><a href='@Url.Action("Role", "Admin", null)'>Role</a></li>
                                <li><a href='@Url.Action("Position", "Admin", null)'>Position</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="">Setup</a>
                            <ul class="submenu">
                                <li><a href='@Url.Action("Location", "Setup", null)'>Location</a></li>
                                <li><a href='@Url.Action("Device", "Setup", null)'>Device</a></li>
                                <li><a href='@Url.Action("Team", "Setup", null)'>Team</a></li>
                                <li><a href='@Url.Action("Branch", "Setup", null)'>Branch</a></li>
                                <li><a href='@Url.Action("ServicePerson", "Setup", null)'>Service Person</a></li>
                                <li><a href='@Url.Action("Department", "Setup", null)'>Department</a></li>
                                <li><a href='@Url.Action("Channel", "Setup", null)'>Channel</a></li>
                                <li><a href='@Url.Action("IssueType", "Setup", null)'>Issue Type</a></li>
                                <li><a href='@Url.Action("ServiceStatus", "Setup", null)'>Services Status</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="">Day To Day</a>
                            <ul class="submenu">
                                <li><a href='@Url.Action("Register", "Home", null)'>Access Log</a></li>
                                <li><a href='@Url.Action("DailyActivity", "Setup", null)'>Activity Note</a></li>
                                <li><a href='@Url.Action("ServiceData", "Home", null)'>Core Team Service</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="">Project</a>
                            <ul class="submenu">
                                <li class="dropdown">
                                    <a href="" class="icon">By Status</a>
                                    <ul class="submenu">
                                        <li id="sub"><a href='@Url.Action("Project", "ProjectModule", null)'>Ongoing</a></li>
                                        <li id="sub"><a href='@Url.Action("FinishedProject", "ProjectModule", null)'>Finished</a></li>
                                    </ul>
                                </li>
                                <li><a href='@Url.Action("ProjectStatus", "ProjectModule", null)'>Project Status</a></li>
                            </ul>
                        </li>

                        @*<li class="dropdown">
                <a href="">Project</a>
                <ul class="submenu">
                    <li><a href='@Url.Action("Project", "ProjectModule", null)'>Project</a></li>
                    <li><a href='@Url.Action("ProjectStatus", "ProjectModule", null)'>Project Status</a></li>
                </ul>
            </li>*@

                        <li class="dropdown">
                            <a href="">Project Catalog</a>
                            <ul class="submenu">
                                <li><a href='@Url.Action("Status", "ProjectModule", null)'>Status</a></li>
                                <li><a href='@Url.Action("ProjectRequirementItems", "ProjectModule", null)'>Requirement Items</a></li>
                            </ul>
                        </li>
                        @*<li>
                <div class="dropdown">
                    <a href='@Url.Action("GetReports", "Admin", null)' style="font-size:16px;color:white;">Reports</a>
                </div>
            </li>*@
                        <li class="dropdown">
                            <a href="">Reports</a>
                            <ul class="submenu">
                                <li class="dropdown">
                                    <a href="" class="icon">By Staff Name</a>
                                    <ul class="submenu">
                                        <li id="sub"> <a href='@Url.Action("GetReports", "Report", null)'>Accesslog</a> </li>
                                        <li id="sub"> <a href='@Url.Action("GetActivityReports", "Report", null)'>Activity</a> </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="" class="icon">Project</a>
                                    <ul class="submenu">
                                        <li id="sub"><a href='@Url.Action("GetProjectReportsByDate", "Report", null)'>By Date</a></li>
                                        <li id="sub"><a href='@Url.Action("GetReportByProjectName", "Report", null)'>By Name</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="" class="icon">By Team</a>
                                    <ul class="submenu">
                                        <li id="sub"> <a href='@Url.Action("AccessReportsByTeam", "Report", null)'>Accesslog</a> </li>
                                        <li id="sub"> <a href='@Url.Action("ActivityReportsByTeam", "Report", null)'>Activity</a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href='@Url.Action("Profile", "Account", null)'>Profile</a>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href='@Url.Action("SignOut", "Account", null)'>Logout</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>
                            <div class="dropdown">
                                <a href='@Url.Action("Dashboard", "Home", null)'>Dashboard</a>
                            </div>
                        </li>

                        <li class="dropdown">
                            <a href="">Setup</a>
                            <ul class="submenu">
                                <li><a href='@Url.Action("Location", "Setup", null)'>Location</a></li>
                                <li><a href='@Url.Action("Device", "Setup", null)'>Device</a></li>
                                <li><a href='@Url.Action("Team", "Setup", null)'>Team</a></li>
                                <li><a href='@Url.Action("Branch", "Setup", null)'>Branch</a></li>
                                <li><a href='@Url.Action("ServicePerson", "Setup", null)'>Service Person</a></li>
                                <li><a href='@Url.Action("Department", "Setup", null)'>Department</a></li>
                                <li><a href='@Url.Action("Channel", "Setup", null)'>Channel</a></li>
                                <li><a href='@Url.Action("IssueType", "Setup", null)'>Issue Type</a></li>
                                <li><a href='@Url.Action("ServiceStatus", "Setup", null)'>Service Status</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="">Day To Day</a>
                            <ul class="submenu">
                                <li><a href='@Url.Action("Register", "Home", null)'>Accesslog</a></li>
                                <li><a href='@Url.Action("DailyActivity", "Setup", null)'>Activity Note</a></li>
                                <li><a href='@Url.Action("ServiceData", "Home", null)'>Core Team Service</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="dropdown">
                                @*<a href='@Url.Action("ItemsListForStaff", "ProjectModule", null)'>Requirement Items</a>*@
                                <a href='@Url.Action("ProjectRequirementItems", "ProjectModule", null)'>Requirement Items</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="">Reports</a>
                            <ul class="submenu">
                                <li class="dropdown">
                                    <a href="" class="icon">By Staff Name</a>
                                    <ul class="submenu">
                                        <li id="sub"> <a href='@Url.Action("GetReports", "Report", null)'>Accesslog</a> </li>
                                        <li id="sub"> <a href='@Url.Action("GetActivityReports", "Report", null)'>Activity</a> </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="" class="icon">By Team</a>
                                    <ul class="submenu">
                                        <li id="sub"> <a href='@Url.Action("AccessReportsByTeam", "Report", null)'>Accesslog</a> </li>
                                        <li id="sub"> <a href='@Url.Action("ActivityReportsByTeam", "Report", null)'>Activity</a> </li>
                                    </ul>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <div class="dropdown">
                                <a href='@Url.Action("Profile", "Account", null)'>Profile</a>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href='@Url.Action("SignOut", "Account", null)'>Logout</a>
                            </div>
                        </li>
                    }
                </ul>  
            </div>
        </div>
    </nav>
    <div class="container body-content">

        @RenderBody()
        <hr />
        @*<footer>
            <p>&copy; 2018 - AMI.AccessLog.Project</p>
        </footer>*@
        <footer class="main-footer">
            Copyright - © 2019 <a target="_blank" href="https://www.ayasompo.com">AYA SOMPO Insurance</a>
        </footer>
    </div>
    <!-- /#wrapper -->
    <script src="~/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="~/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script>
        $(document).ready(function () {
            $('#policy-datatable').DataTable({
                responsive: true,
                "order": [[0, "desc"]]
            });
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
