﻿@model AMI.AccessLog.Project.Models.ProjectData
@{
    ViewData["Title"] = "FinishedProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">

@using (Html.BeginForm("SaveProject", "ProjectModule", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">Finished Project</h2>
            <a href='@Url.Action("ExportFinishedProject","ProjectModule", null)'>
                <img src="~/images/excel-file.png" style="float:right;color:#1e3f6d;" />
            </a>
        </div>
        @Html.HiddenFor(model => model.Id)
        <div class="col-md-12">
            <br />
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table style="width: 100%;" class="table table-striped table-bordered table-hover" id="policy-datatable">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Created Date <span class="caret"></span></th>
                                <th>Name</th>
                                <th>Related Team</th>
                                <th>Project Status</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int rowNo = 0; }
                            @foreach (var project in (List<ProjectDataViewModel>)ViewBag.ProjectList)
                            {
                            <tr class="odd gradeX">
                                <td>
                                    @(rowNo += 1)
                                </td>
                                <td>@string.Format("{0:dd/MMM/yyyy}", project.CreatedDate)</td>
                                <td>@project.Name</td>
                                <td>@project.Team</td>
                                <td>@project.StatusName</td>
                                <td>@project.Description</td>
                                <td style="text-align:center;">
                                    <a href='@Url.Action("EditProject", "ProjectModule", new { @projectId = @project.Id })'>
                                        <img src="~/images/Edit.png" />
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts
    {
    <script type="text/javascript">
        function ConfirmDelete() {
            if (document.getElementById("name").value == "" && document.getElementById("desc").value == "" && document.getElementById("status").value == "") {
                alert("Please select data to delete");
                return false;
            }
            else {
                return confirm("Are you sure you want to delete?");
            }
        }
    </script>
}


