﻿@model AMI.AccessLog.Project.Models.RequirementItems
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Items List For Staff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">

@using (Html.BeginForm("SaveItemsForStaff", "ProjectModule", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header"> Requirement Items List </h2>
            <a href='@Url.Action("ExportItemsListForStaff","ProjectModule", new { UserId =Guid.Parse(HttpContextAccessor.HttpContext.Session.GetString("userId"))  })'>
                <img src="~/images/excel-file.png" style="float:right;color:#1e3f6d;" />
            </a>
        </div>
        @Html.HiddenFor(model => model.Id)
        @*<input type="hidden" name="Date" asp-for="Date" value="@Model.Date">*@
        @*<input type="hidden" name="Date" asp-for="Date" value="@Model.Date">
        <input type="hidden" name="Description" asp-for="Description" value="@Model.Description">
        <input type="hidden" name="ProjectId" asp-for="ProjectId" value="@Model.ProjectId">
        <input type="hidden" name="ImplementTechnicianId" asp-for="ImplementTechnicianId" value="@Model.ImplementTechnicianId">
        <input type="hidden" name="CheckTechnicianId" asp-for="CheckTechnicianId" value="@Model.CheckTechnicianId">*@
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Created Date:</span><span style="color:red;">*</span>
                    <input class="input100" type="date" name="Date" asp-for="Date">
                    <span class="focus-input100"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Requirement Item:</span><span style="color:red;">*</span>
                    <input class="input100" type="text" name="Description" asp-for="Description" placeholder="Enter Description" id="description">
                    <span class="focus-input100"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wrap-input100 validate-input">
                    <span class="label-input100"> Project Name:</span><span style="color:red;">*</span>
                    <div id="Staff" required>
                        @Html.DropDownListFor(model => model.ProjectId, ViewBag.ProjectList as IEnumerable<SelectListItem>, "Select Project", new { @class = "input100", @id = "project", @style = "border:none;margin-top:9px;" })
                    </div>
                    <span class="focus-input100"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Start Date:</span>
                    <input class="input100" type="date" name="StartDate" asp-for="StartDate" value="@string.Format("{0:yyyy-MM-dd}", Model.StartDate)">
                    @*<input class="input100" type="date" name="StartDate" asp-for="StartDate" id="StartDate" value="@Model.StartDate">*@
                    @*<input class="input100" type="date" name="fromDate" asp-for="fromDate" id="fromDate" value="" >*@
                    <span class="focus-input100"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="wrap-input100 validate-input">
                    <span class="label-input100">End Date:</span>
                    <input class="input100" type="date" name="EndDate" asp-for="EndDate" value="@string.Format("{0:yyyy-MM-dd}", Model.EndDate)">
                    @*<input class="input100" type="date" name="toDate" asp-for="toDate" id="toDate" value="">*@
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2">
                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Status:</span>
                    <div id="Staff" required>
                        @Html.DropDownListFor(model => model.StatusId, ViewBag.StatusList as IEnumerable<SelectListItem>, "Select Status", new { @class = "input100", @id = "status", @style = "border:none;margin-top:9px;" })
                    </div>
                    <span class="focus-input100"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wrap-input100 validate-input">
                    <span class="label-input100"> Assign / Implement Technician:</span><span style="color:red;">*</span>
                    <div id="Staff" required>
                        @Html.DropDownListFor(model => model.ImplementTechnicianId, ViewBag.UserList as IEnumerable<SelectListItem>, "Select Technician", new { @class = "input100", @id = "implement", @style = "border:none;margin-top:9px;" })
                    </div>
                    <span class="focus-input100"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wrap-input100 validate-input">
                    <span class="label-input100"> Assign / Check Technician:</span><span style="color:red;">*</span>
                    <div id="Staff" required>
                        @Html.DropDownListFor(model => model.CheckTechnicianId, ViewBag.UserList as IEnumerable<SelectListItem>, "Select Technician", new { @class = "input100", @id = "check", @style = "border:none;margin-top:9px;" })
                    </div>
                    <span class="focus-input100"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Remark:</span>
                    <input class="input100" type="text" name="Remark" asp-for="Remark" placeholder="Enter Remark" id="remark">
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-2">
                    <a href='@Url.Action("ItemsListForStaff","ProjectModule",  null)' class="btn btn-default">
                        <i class="fa fa-plus"></i>
                        New
                    </a>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" id="btnSave" type="submit" onclick="return confirm('Are you sure you want to save?')">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                </div>
                 <div class="col-md-2">
                    <a href='@Url.Action("DeleteItem","ProjectModule", new { @itemId = Model.Id})' id="btnDelete" class="btn btn-default" onclick="return ConfirmDelete()">
                        <i class="fa fa-trash"></i>
                        Delete
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <font color="red">@TempData["Message"]</font>
            </div>
        </div>
        <div class="col-md-12">
            <br />
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table style="width: 100%;" class="table table-striped table-bordered table-hover" id="policy-datatable">
                        <thead>
                            <tr>
                                <th>Date<span class="caret"></span></th>
                                <th>Requirement Item</th>
                                <th>Project Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Assign/Implement Technician</th>
                                <th>Assign/Check Technician</th>
                                <th>Status Name</th>
                                <th>Remark</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var items in (List<RequirementItemsViewModel>)ViewBag.ItemsList)
                            {
                                <tr class="odd gradeX">
                                    @*<td>@items.Date</td>*@
                                    <td>@string.Format("{0:dd/MMM/yyyy}", items.Date)</td>
                                    <td>@items.Description</td>
                                    <td>@items.ProjectName</td>
                                    @if (items.StartDate == null)
                                    {
                                        <td>@items.StartDate</td>
                                    }
                                    else
                                    {
                                        @*<td>@items.StartDate.Value.ToShortDateString()</td>*@
                                        //<td>@items.StartDate.Value.Date</td>
                                        <td>@items.StartDate.Value.ToString("dd-MM-yyyy")</td>
                                    }
                                    @if (items.EndDate == null)
                                    {
                                        <td>@items.EndDate</td>
                                    }
                                    else
                                    {
                                        @*<td>@items.EndDate.Value.ToShortDateString()</td>*@
                                        <td>@items.EndDate.Value.ToString("dd-MM-yyyy")</td>
                                    }
                                    <td>@items.ImplementTechnicianName</td>
                                    <td>@items.CheckTechnicianName</td>
                                    <td>@items.StatusName</td>
                                    <td>@items.Remark</td>
                                    <td style="text-align:center;">
                                        <a href='@Url.Action("EditItemForStaff", "ProjectModule", new { @itemId = @items.Id })'>
                                            <img src="~/images/Edit.png" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts
    {
    <script type="text/javascript">
        function ConfirmDelete() {
            if (document.getElementById("description").value == "" && document.getElementById("project").value == ""
                && document.getElementById("implement").value == "" && document.getElementById("check").value == "" && document.getElementById("status").value == "") {
                alert("Please select data to delete");
                return false;
            }
            else {
                return confirm("Are you sure you want to delete?");
            }
        }
    </script>
}


