﻿@model AMI.AccessLog.Project.Models.Report

@{
    ViewData["Title"] = "AccessLog Report By Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        a.disabled {
            pointer-events: none;
            cursor: default;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
</head>
@using (Html.BeginForm("ExportAccessLogByTeam", "Report", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    <div class="row">
        @Html.HiddenFor(model => model.userId)
        @Html.HiddenFor(model => model.fromDate)
        @Html.HiddenFor(model => model.toDate)
        @Html.HiddenFor(model => model.TeamId)
        <h2 class="page-header">AccessLog Reports By Team</h2>
        <div class="col-md-12">
            <div class="col-md-3">
                Team Name: @ViewBag.TeamName
            </div>
            <div class="col-md-3">
                From Date: @string.Format("{0:dd/MMM/yyyy}", ViewBag.fromDate)
            </div>
            <div class="col-md-3">
                To Date: @string.Format("{0:dd/MMM/yyyy}", ViewBag.toDate)
            </div>
            <div class="col-md-3">
                <button type="submit" style="float:right">
                    <img src="~/images/excel-file.png" style="float:right;color:#1e3f6d;" />
                </button>
            </div>
        </div>
        <div class="col-md-12">
            <br />
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table style="width: 100%;" class="table table-striped table-bordered table-hover" id="policy-datatable">
                        <thead>
                            <tr>
                                <th>Date/Time <span class="caret"></span></th>
                                <th>Equipment Device</th>
                                <th>Reason of Configuration</th>
                                <th>Technician Name</th>
                                <th>Technician's Summary Report</th>
                                <th>Remark</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var register in (List<RegisterViewModel>)ViewBag.RegisterList)
                            {
                                <tr class="odd gradeX">
                                    <td>@string.Format("{0:dd/MMM/yyyy}", register.Date)</td>
                                    <td>@register.Device</td>
                                    <td>@register.Reason</td>
                                    <td>@register.TechnicianName</td>
                                    <td>@register.TechnicianReport</td>
                                    <td>@register.Remark</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

}



