﻿@model AMI.AccessLog.Project.Models.DailyActivityVM

@{
    ViewData["Title"] = "Get ActivityReports ByTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        a.disabled {
            pointer-events: none;
            cursor: default;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
</head>
@using (Html.BeginForm("ExportActivityByTeam", "Report", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    <div class="row">
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.fromDate)
        @Html.HiddenFor(model => model.toDate)
        @Html.HiddenFor(model => model.TeamId)
        <h2 class="page-header">Activity Reports By Team</h2>
        <div class="col-md-12">
            <div class="col-md-3">
                Team  Name: @ViewBag.TeamName
            </div>
            <div class="col-md-3">
                From Date: @string.Format("{0:dd/MMM/yyyy}", ViewBag.fromDate)
            </div>
            <div class="col-md-3">
                To Date: @string.Format("{0:dd/MMM/yyyy}", ViewBag.toDate)
            </div>
            <div class="col-md-3">
                <button type="submit" style="float:right">
                    <img src="~/images/excel-file.png" style="float:right;color:#1e3f6d;" />
                </button>
            </div>
        </div>
        <div class="col-md-12">
            <br />
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table style="width: 100%;" class="table table-bordered" id="policy-datatable">
                        <thead>
                            <tr>
                                <th>Date/Time <span class="caret"></span></th>
                                <th>FinishedTask</th>
                                <th>ContinueTask</th>
                                <th>Staff Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var activity in (List<DailyActivityVM>)ViewBag.ActivityList)
                            {
                                <tr class="odd gradeX">
                                    <td>@string.Format("{0:dd/MMM/yyyy}", activity.CreatedDate)</td>
                                    <td><textarea rows="8" cols="50" disabled style="background-color:#fff"> @activity.FinishedTask</textarea></td>
                                    <td><textarea rows="8" cols="50" disabled style="background-color:#fff">@activity.ContinueTask</textarea></td>
                                    <td>@activity.UserName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

}



