﻿@model AMI.AccessLog.Project.Models.ProjectReport
@{
    ViewData["Title"] = "GetProjectReportsByDate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">

@using (Html.BeginForm("GetProjectReports", "Report", FormMethod.Post, new { enctype = "multipart/form-data", target = "_blank" }))
{
    <br />
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">Project Reports by Date</h2>
            @*<a href='@Url.Action("ExportDeviceList","Setup", null)'>
                    <img src="~/images/excel-file.png" style="float:right;color:#1e3f6d;" />
                </a>*@
        </div>
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="wrap-input100 validate-input">
                    <span class="label-input100">From Date:</span><span style="color:red;">*</span>
                    <input class="input100" type="date" name="fromDate" asp-for="fromDate" id="fromDate" value="" required>
                    @*<input class="input100" type="date" name="fromDate" asp-for="fromDate" id="fromDate" value="" >*@
                    <span class="focus-input100"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wrap-input100 validate-input">
                    <span class="label-input100">To Date:</span><span style="color:red;">*</span>
                    <input class="input100" type="date" name="toDate" asp-for="toDate" id="toDate" value="" required>
                    @*<input class="input100" type="date" name="toDate" asp-for="toDate" id="toDate" value="">*@
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-2">
                    <button class="btn btn-default" id="btnSave" type="submit" onclick="return check()">
                        <i class="fa fa-save"></i>
                        Search
                    </button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" id="btnSave" type="reset">
                        <i class="fa fa-trash"></i>
                        Clear selected data
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <font color="red">@TempData["Message"]</font>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script>
    $(document).ready(function () {
        $('#policy-datatable').DataTable({
            responsive: true,
            "order": [[0, "asc"]]
        });
    });
    </script>
}


