﻿@model AMI.AccessLog.Project.Models.ProjectData
@{
    ViewData["Title"] = "Get Report By Project Name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">

@using (Html.BeginForm("ReportByProjectName", "Report", FormMethod.Post, new { enctype = "multipart/form-data", target = "_blank" }))
{
    <br />
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">Project Report By Name</h2>
            @*<a href='@Url.Action("ExportDeviceList","Setup", null)'>
                    <img src="~/images/excel-file.png" style="float:right;color:#1e3f6d;" />
                </a>*@
        </div>
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="wrap-input100 validate-input">
                    <span class="label-input100"> Select Project Name:</span><span style="color:red;">*</span>
                    <div id="Staff" required>
                        @Html.DropDownListFor(model => model.Id, ViewBag.projectList as IEnumerable<SelectListItem>, "Select", new { @class = "input100", @style = "border:none;margin-top:9px;", required = "required" })
                    </div>
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-2">
                    <button class="btn btn-default" id="btnSave" type="submit">
                        <i class="fa fa-save"></i>
                        Search
                    </button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" id="btnSave" type="reset">
                        <i class="fa fa-trash"></i>
                        Clear selected data
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <font color="red">@TempData["Message"]</font>
            </div>
        </div>
    </div>
}



