﻿@model AMI.AccessLog.Project.Models.ProjectData

@{
    ViewData["Title"] = "Project Report by Name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        a.disabled {
            pointer-events: none;
            cursor: default;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
</head>
<h2 class="page-header">Project Report by Name</h2>
@using (Html.BeginForm("ExcelExportByProjectName", "Report", FormMethod.Post, new { enctype = "multipart/form-data", target = "_blank" }))
{
    <input type="hidden" name="Id" value="@Model.Id">
    <div class="col-md-12">
        <div class="col-md-3">
            Project Name: @Model.Name
        </div>
        <div class="col-md-3" style="float: right;">
            <button class="btn btn-default" id="btnSave" type="submit" style="float: right;border: none;">
                <img src="~/images/excel-file.png" style="float:right;color:#1e3f6d;" />
            </button>
        </div>
    </div>
}
<br />
<div class="row">
    <div class="col-md-12">
        <br />
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table style="width: 100%;" class="table table-striped table-bordered table-hover" id="policy-datatable">
                    <thead>
                        <tr>
                            <th>Date <span class="caret"></span></th>
                            <th>Requirement Item</th>
                            <th>Project Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Assign / Implement Technician</th>
                            <th>Assign / Check Technician</th>
                            <th>Status</th>
                            <th>Remark</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in (List<ProjectReport>)ViewBag.ProjectReports)
                        {
                            <tr class="odd gradeX">
                                <td>@string.Format("{0:dd/MMM/yyyy}", row.ProjectDate)</td>
                                <td>@row.RequirementDescription</td>
                                <td>@row.ProjectName</td>
                                @if (row.StartDate == null)
                                {
                                    <td>@row.StartDate</td>
                                }
                                else
                                {
                                    <td>@row.StartDate.Value.ToString("dd/MMM/yyyy")</td>
                                }
                                @if (row.EndDate == null)
                                {
                                    <td>@row.EndDate</td>
                                }
                                else
                                {
                                    <td>@row.EndDate.Value.ToString("dd/MMM/yyyy")</td>
                                }
                                <td>@row.ImplementTechnicianName</td>
                                <td>@row.CheckTechnicianName</td>
                                <td>@row.StatusName</td>
                                <td>@row.Remark</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





