﻿@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_LayoutForCP.cshtml";

}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
@*
    <html>
    <head>
        <title>AMI AccessLog</title>
        <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <link href="~/css/login.css" rel="stylesheet" />
        <link href="~/css/main.css" rel="stylesheet" />
        <!------ Include the above in your HEAD tag ---------->
        <link rel="icon" type="image/x-icon" href="~/images/new-icon.png">
        <style>
            body {
                font-family: 'Trebuchet MS';
            }

            .panel {
                background-color: #C0C0C0;
                border-radius: 30px;
            }

            input::-moz-placeholder {
                color: #A92028;
            }
        </style>
    </head>
    <body id="Login">
        <div class="container">


            <style>
                .row {
                    margin-bottom: 10px;
                }

                td {
                    color: #A92028;
                }
            </style>
*@
<br />
<br />
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Change Password</h3>
    </div>
</div>
<form method="post" asp-controller="Account" asp-action="ChangePassword">
    <div class="row">
        <div class="form-group">
            <label for="inputPassword" class="col-sm-1 col-form-label">Password:</label>
            <div class="col-xs-3">
                <input type="password" class="form-control" id="inputPassword" placeholder="Enter Old Password" name="opassword" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="inputPassword" class="col-sm-1 col-form-label">New Password:</label>
            <div class="col-xs-3">
                <input type="password" class="form-control" id="npassword" name="npassword" placeholder="Enter New Password" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label for="inputPassword" class="col-sm-1 col-form-label">Confirm Password:</label>
            <div class="col-xs-3">
                <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Enter Confirm Password" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-1">
                <button class="btn btn-default" type="submit" asp-controller="Account" asp-action="ChangePassword">
                    <i class="fa fa-save"></i>
                    Change
                </button>
            </div>
            <div class="col-md-1">
                <button class="btn btn-default" type="reset" asp-controller="Account" asp-action="ChangePassword">
                    <i class="fa fa-cut"></i>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</form>

@* </div>
    </body>
    </html>*@

