﻿@model AMI.AccessLog.Project.Models.UserInfo
@{
    ViewData["Title"] = "CheckUserInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">
<div class="col-md-12">
    <br />
    @*<div class="panel panel-default">*@
    <h2 class="page-header">User Information</h2>

    <!-- /.panel-heading -->
    <div class="panel-body col-md-6">
        <table style="width: 100%;" class="table table-striped table-bordered table-hover" id="policy-datatable">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>Position</th>
                    <td>@Model.Position</td>
                </tr>
                <tr>
                    <th>Role</th>
                    <td>@Model.Role</td>
                </tr>
                <tr>
                    <th>IsActive</th>
                    @if (Model.IsActive == true)
                    {
                        <td> Active</td>
                    }
                   else
                    {
                        <td> Not Active</td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
    @* </div> *@
</div>

<div class="col-md-12">
    <div class="col-md-2">
        <a href='@Url.Action("ResetUser", "Account", new { @userId = Model.Id  })' class="btn btn-default">
            <i class="fa fa-lock"></i>
            Reset Password
        </a>
    </div>
</div>

