﻿@{
    ViewData["Title"] = "Reset Password";
    Layout = null;
}

<style>
    .form-group {
        height: 30px;
    }

    div{
        font-family:'Trebuchet MS';
    }
</style>

<link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.css" type="text/css" />
<link rel="stylesheet" href="~/css/login.css" type="text/css" />
<link rel="icon" type="image/x-icon" href="~/images/new-icon.png">

<br />

<div class="row">

    <div class="col-sm-6 col-md-4 col-md-offset-4">

        <div class="page-header">
            <h4 class="text-center login-title">
                Password reset code will be sent to your email
            </h4>            
        </div>

        <br />
       
            
            <form method="post" asp-controller="Account" asp-action="SendEmail">

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <input class="form-control" id="Email" name="Email" placeholder="Enter Email Here" required="" autofocus="" aria-required="true" type="email">

                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-md btn-primary btn-block" id="btnConfirm" type="submit"  style="background-color:#A92028;">
                        @*<i class="fa fa-send"></i>*@
                        Confirm
                    </button>
                </div>        

                <a href='@Url.Action("Login","Account", null)' class="pull-right need-help">
                   <i class="glyphicon glyphicon-log-in"></i>&nbsp; Sign In
                </a><span class="clearfix"></span>

                <p style="color:red;">
                    @TempData["Message"]
                </p>
            </form>
       

          
        </div>
    </div>



