﻿@model AMI.AccessLog.Project.Models.UserInfo

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">
<div class="col-md-12">
    <br />
    <h2 class="page-header">Profile</h2>
    <div class="col-md-2">
        <a href='@Url.Action("ChangePassword", "Account", null)' class="btn btn-default">
            <i class="fa fa-key"></i>
            Change Password
        </a>
    </div>
    @*<div class="col-md-2">
            <a href='@Url.Action("ChangeProfile", "Account", null)' class="btn btn-default">
                <i class="fa fa-key"></i>
                Change Profile
            </a>
        </div>*@
</div>
<div class="col-md-12">
    <br />
    @*<div class="panel panel-default">*@
        
        <!-- /.panel-heading -->
        <div class="panel-body col-md-6">
            <table style="width: 100%;" class="table table-striped table-bordered table-hover" id="policy-datatable">
                <tbody >
                    <tr>
                        <th>Name</th>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <th>Position</th>
                        <td>@Model.Position</td>
                    </tr>
                </tbody>
            </table>
        </div>
        @* </div> *@
    </div>


