﻿@model AMI.AccessLog.Project.Models.QRCode
@{
    ViewData["Title"] = "Enable authenticator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .row {
        margin-bottom: 10px;
        margin-left: 5px;
    }
</style>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Enable authenticator</h3>
        </div>
    </div>
    <div class="row">
        <p>To use an authenticator app go through the following steps:</p>
        <ol class="list">
            <li>
                <div class="alert alert-info">To enable QR code generation please read our <a href="https://go.microsoft.com/fwlink/?Linkid=852423">documentation</a>.</div>
                <div id="qrCode"></div>
                <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
            </li>
        </ol>
    </div>

</div>

@section Scripts {
    <script src="~/qrcodejs/qrcode.js"></script>
    <script type="text/javascript">

        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.AuthenticatorUri)",
                width: 200,
                height: 200,
            });
    </script>
}
