﻿@{
    ViewData["Title"] = "Reset Password";
    Layout = null;
}

<style>
    .form-group {
        height: 30px;
    }
    div {
        font-family: 'Trebuchet MS';
    }
</style>
<link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.css" type="text/css" />
<link rel="stylesheet" href="~/css/login.css" type="text/css" />
<link rel="icon" type="image/x-icon" href="~/images/new-icon.png">

<br />

<div id="page-wrapper">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">

            <div class="page-header">
                <h1 class="text-center login-title">
                    Please enter your confirmation code.
                </h1>
            </div>


            <br />
            <form method="post" asp-controller="Account" asp-action="SendCode">

                <input type="hidden" value="@ViewBag.userId" name="userId" id="userId" />

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-keyboard-o"></i>
                        </span>
                        <input class="form-control" id="ConfirmCode" name="ConfirmCode" placeholder="Enter Code Here" required="" autofocus="" aria-required="true">

                    </div>
                </div>


                <div class="form-group">
                    <button class="btn btn-md btn-primary btn-block" id="btnConfirm" type="submit" style="background-color:#A92028;">
                        @*<i class="fa fa-send"></i>*@
                        Confirm
                    </button>

                </div>
                <div>
                    <font color="red">@ViewBag.Message</font>
                </div>
            </form>
        </div>
    </div>
</div>
   




