﻿@using System.Data
@model DataSet
@{
    ViewData["Title"] = "ActivityLogList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        a.disabled {
            pointer-events: none;
            cursor: default;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
</head>

<div class="row">
    <h2 class="page-header">Activity Log</h2>
    <div class="col-md-12">
        @{
            var request = ViewBag.Request;
        }
        <div class="col-md-3">
            From Date: @string.Format("{0:dd/MMM/yyyy}", DateTime.Now)
        </div>
        <div class="col-md-3">
            @*To Date: @string.Format("{0:dd/MMM/yyyy}", DateTime.Now)*@
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <a href='@Url.Action("ExcelExportForActivity","Home", null)'>
                <img src="~/images/excel-file.png" style="float:right;color:#A92028;margin-bottom:2px;" />
            </a>
        </div>

    </div>
    <div class="col-md-12">
        <br />
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table style="width: 100%;" class="table table-striped table-bordered table-hover" id="policy-datatable">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Date/Time <span class="caret"></span></th>
                            <th>Name</th>
                            <th>FinishedTask</th>
                            <th>ContinueTask</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int rowNo = 0; }
                        @foreach (DataRow row in Model.Tables[0].Rows)
                        {
                        <tr>
                            <td>
                                @(rowNo += 1)
                            </td>
                            <td>@string.Format("{0:dd/MMM/yyyy}", @row["CreatedDate"])</td>
                            <td>@row["Name"]</td>
                            <td>@row["FinishedTask"]</td>
                            <td>@row["ContinueTask"]</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>