﻿@model IEnumerable<AMI.AccessLog.Project.Models.RegisterViewModel>
﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        a.disabled {
            pointer-events: none;
            cursor: default;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
</head>
<br />
<div class="row">
    <div class="col-md-12">
        <h2 class="page-header">IT Equipment Configuration List</h2>
        <a href='@Url.Action("ExcelExport", "Home", null)'>
            <img src="~/images/excel-file.png" style="float:right;color:#1e3f6d;" />
        </a>
    </div>
    <div class="col-md-12">
        <div class="col-md-2">
            <a href='@Url.Action("Register","Home", null)' class="btn btn-default">
                <i class="fa fa-plus"></i>
                New
            </a>
        </div>
        @*<div class="col-md-10">
            @if (HttpContextAccessor.HttpContext.Session.GetString("roleId") == "cd24f163-3482-409b-b0fb-0fa46461cedf")
            {
                <p style="color:red;align-items:center;">Note : New Records can edit only within 24hours(1Day).</p>
            }
        </div>*@
    </div>

    <div class="col-md-12">
        <br />
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table style="width: 100%;" class="table table-striped table-bordered table-hover" id="policy-datatable">
                    <thead>
                        <tr>
                            <th>Date/Time<span class="caret"></span></th>
                            <th>Equipment/Server</th>
                            <th>Reason</th>
                            <th>Technician Name</th>
                            <th>Summary Report</th>
                            <th>Remark</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var register in (List<RegisterViewModel>)ViewBag.RegisterList)
                        {
                        <tr class="odd gradeX">
                            @* <td>@register.Date.ToShortDateString()</td>*@
                            <td>@string.Format("{0:dd-MM-yyyy}", register.Date)</td>
                            <td>@register.Device</td>
                            <td>@register.Reason</td>
                            <td>@register.TechnicianName</td>
                            <td>@register.TechnicianReport</td>
                            <td>@register.Remark</td>
                            <td style="text-align:center;">
                                <a href='@Url.Action("Edit", "Home", new { @Id = @register.Id })'>
                                    <img src="~/images/Edit.png" />
                                </a>

                                @*Note : New Records can edit only within 24hours(1Day).*@

                                @*@if (register.Date.Day == DateTime.Now.Day && (HttpContextAccessor.HttpContext.Session.GetString("roleId") == "cd24f163-3482-409b-b0fb-0fa46461cedf"))
                                {
                                    <a href='@Url.Action("Edit", "Home", new { @Id = @register.Id })'>
                                        <img src="~/images/Edit.png" />
                                    </a>
                                }
                                else if (HttpContextAccessor.HttpContext.Session.GetString("roleId") == "d497e3fe-f38a-4f08-9bfa-a03586d73f78")
                                {
                                    <a href='@Url.Action("Edit", "Home", new { @Id = @register.Id })'>
                                        <img src="~/images/Edit.png" />
                                    </a>
                                }
                                else
                                {
                                    <a href='@Url.Action("Edit", "Home", new { @Id = @register.Id })' class="disabled">
                                        <img src="~/images/Edit.png" />
                                    </a>
                                }*@
                                                                
                            @*Note : New Records can edit only within 24hours(1Day).*@

                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

