﻿@model ServiceData
@{
    ViewData["Title"] = "ServiceData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">

@using (Html.BeginForm("SaveServiceData", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="row">
    <div class="col-md-12">
        <h2 class="page-header">Core Team Service</h2>
        @* <a href='@Url.Action("ExportBranchList","Setup", null)'>
                <img src="~/images/excel-file.png" style="float:right;color:#1e3f6d;" />
            </a>*@
        <ul class="nav navbar-right panel_toolbox" style="margin-right:20px;">

            <li class="dropdown" style="float:left;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-file-excel-o" style="font-size:30px;"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href='@Url.Action("ExportServiceDataList", "Home", null)'><i class="fa fa-download"></i> Export</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ImportCoreDataList", "Home")" id="btnImport"><i class="fa fa-upload"></i> Import</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    @Html.HiddenFor(model => model.Id)
    @*@Html.HiddenFor(model => model.BranchCode)*@
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Service Date:</span><span style="color:red;">*</span>
                <input class="input100" type="date" name="ServiceDate" asp-for="ServiceDate" required>
                <span class="focus-input100"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="wrap-input100 validate-input">
                <span class="label-input100">User Name:</span><span style="color:red;">*</span>
                @*<input class="input100" type="text" name="Description" asp-for="Address" placeholder="Enter Description" id="desc">*@
                @Html.TextBoxFor(model => model.UserName, new { @class = "input100", @placeholder = "Enter User Name", @required ="required"})
                <span class="focus-input100"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Branch:</span><span style="color:red;">*</span>
                @Html.DropDownListFor(model => model.BranchId, ViewBag.BranchList as IEnumerable<SelectListItem>, "Select Branch", new { @class = "input100", @style = "border:none;margin-top:9px;", @required = "required" })
                <span class="focus-input100"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Department:</span><span style="color:red;">*</span>
                @Html.DropDownListFor(model => model.DepartmentId, ViewBag.DepartmentList as IEnumerable<SelectListItem>, "Select Department", new { @class = "input100", @style = "border:none;margin-top:9px;", @required = "required" })
                <span class="focus-input100"></span>
            </div>
        </div>
    </div>

    <div class="col-md-12">

        <div class="col-md-3">
            <div class="wrap-input100 validate-input">
                <span class="label-input100">ReasonofRequest:</span>
                @*<input class="input100" type="text" name="Description" asp-for="Address" placeholder="Enter Description" id="desc">*@
                @Html.TextBoxFor(model => model.ReasonofRequest, new { @class = "input100", @placeholder = "Enter User Name" })
                <span class="focus-input100"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Channel:</span><span style="color:red;">*</span>
                @Html.DropDownListFor(model => model.ChannelId, ViewBag.ChannelList as IEnumerable<SelectListItem>, "Select Channel", new { @class = "input100", @style = "border:none;margin-top:9px;", @required = "required" })
                <span class="focus-input100"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Solution:</span>
                @*<input class="input100" type="text" name="Description" asp-for="Address" placeholder="Enter Description" id="desc">*@
                @Html.TextBoxFor(model => model.Solution, new { @class = "input100", @placeholder = "Enter Solution" })
                <span class="focus-input100"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Service Person:</span><span style="color:red;">*</span>
                @Html.DropDownListFor(model => model.ServicePersonId, ViewBag.ServicePersonList as IEnumerable<SelectListItem>, "Select Service Person", new { @class = "input100", @style = "border:none;margin-top:9px;", @required = "required" })
                <span class="focus-input100"></span>
            </div>
        </div>

    </div>

    <div class="col-md-12">

        <div class="col-md-3">
            <div class="wrap-input100 validate-input">
                <span class="label-input100">IssueType:</span>
                @Html.DropDownListFor(model => model.IssueType, ViewBag.IssueTypeList as IEnumerable<SelectListItem>, "Select Issue Type", new { @class = "input100", @style = "border:none;margin-top:9px;", @required = "required" })
                @*@Html.DropDownListFor(model => model.IssueType, new List<SelectListItem>
                                 {
                                    new SelectListItem{ Text="Select Issue Type", Value = "0" },
                                    new SelectListItem{ Text="User Issue", Value = "User Issue" },
                                    new SelectListItem{ Text="System Issue", Value = "System Issue" },
                                    new SelectListItem{ Text="Service Request", Value = "Service Request" },
                                 }, new { @class = "input100", @style = "border:none;margin-top:9px;" })*@

                <span class="focus-input100"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="wrap-input100 validate-input">
                <span class="label-input100">RT No:</span>
                @Html.TextBoxFor(model => model.Ticket, new { @class = "input100", @placeholder = "Enter User Name" })
                <span class="focus-input100"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Status:</span>
                @Html.DropDownListFor(model => model.Status, ViewBag.ServiceStatusList as IEnumerable<SelectListItem>, "Select Status", new { @class = "input100", @style = "border:none;margin-top:9px;", @required = "required" })
                @*@Html.DropDownListFor(model => model.Status, new List<SelectListItem>
        {
           new SelectListItem{ Text="Select Status", Value = "0" },
           new SelectListItem{ Text="Pending", Value = "Pending" },
           new SelectListItem{ Text="Passed", Value = "Passed" },
        }, new { @class = "input100", @style = "border:none;margin-top:9px;" })*@

                <span class="focus-input100"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="wrap-input100 validate-input">
                <span class="label-input100">Remark:</span>
                @Html.TextBoxFor(model => model.Remark, new { @class = "input100", @placeholder = "Enter User Name" })
                <span class="focus-input100"></span>
            </div>
        </div>

    </div>

    <div class="col-md-12">
        <div class="col-md-6">
            <div class="col-md-2">
                <a href='@Url.Action("ServiceData","Home",null)' class="btn btn-default">
                    <i class="fa fa-plus"></i>
                    New
                </a>
            </div>
            <div class="col-md-2">
                <button class="btn btn-default" id="btnSave" type="submit" onclick="return confirm('Are you sure you want to save?')">
                    <i class="fa fa-save"></i>
                    Save
                </button>
            </div>
            <div class="col-md-2">
                <a href='@Url.Action("DeleteServiceData","Home", new { @Id = Model.Id})' class="btn btn-default" onclick="return confirm('Are you sure you want to delete?')">
                    <i class="fa fa-trash"></i>
                    Delete
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <font color="red">@TempData["Message"]</font>
        </div>
    </div>

    <div class="col-md-12">
        <br />
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table style="width: 100%;" class="table table-striped table-bordered table-hover" id="policy">
                    <thead>
                        <tr>
                            <th>Service Date</th>
                            <th>User Name</th>
                            <th>Branch Name</th>
                            <th>Department Name</th>
                            <th>Reason of Request</th>
                            <th>Channel Name</th>
                            <th>Solution</th>
                            <th>ServicePersonName</th>
                            <th>Issue Type</th>
                            <th>Ticket</th>
                            <th>Status</th>
                            <th>Remark</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sd in (List<ServiceDataViewModel>)ViewBag.ServiceDataList)
                        {
                        <tr class="odd gradeX">
                            <td>@string.Format("{0:dd/MMM/yyyy}", @sd.ServiceDate)</td>
                            <td>@sd.UserName</td>
                            <td>@sd.BranchName</td>
                            <td>@sd.DepartmentName</td>
                            <td>@sd.ReasonofRequest</td>
                            <td>@sd.ChannelName</td>
                            <td>@sd.Solution</td>
                            <td>@sd.ServicePersonName</td>
                            <td>@sd.IssueTypeName</td>
                            <td>@sd.Ticket</td>
                            <td>@sd.StatusName</td>
                            <td>@sd.Remark</td>
                            <td style="text-align:center;">
                                <a href='@Url.Action("EditServiceData", "Home", new { @Id = @sd.Id })'>
                                    <img src="~/images/Edit.png" />
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
}
